[tool.coverage.paths]
source = ['handcalcs', '*/site-packages']

[tool.coverage.run]
branch = true
source = ['handcalcs']

[tool.coverage.report]
show_missing = true


[tool.poetry]
name = "handcalcs"
<<<<<<< HEAD
version = "1.0.2"
=======
version = "1.0.1"
>>>>>>> f083681fb5f362476875302459187b7b3457f41e
description = "Sample desc"
authors = ["Connor Ferster"]
license = "Apache-2.0"
homepage = "https://github.com/connorferster/handcalcs"
repository = "https://github.com/connorferster/handcalcs"
documentation = "https://github.com/connorferster/handcalcs"


[tool.poetry.dependencies]
python = "^3.7"
pyparsing = "^2.4.7"
more-itertools = "^8.5.0"
innerscope = "^0.2.0"
nbconvert = "^5.6.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.9.0"
coverage = {extras = ["toml"], version = "^5.1"}
jupyterlab = "^2.1.5"
nbconvert = "^5.6.1"
pdbpp = "^0.10.2"
ipython = "^7.18.1"
sympy = "^1.6.2"
forallpeople = "^2.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
